/*main page body*/
body{
	height: 100%;
	width:  100%;
}

/*The loading screen on bootup*/
#load-body {
	text-align: center;
	height: 100%;
	width:  100%;
}

.gradient {
	background: linear-gradient(black , orange);
	color:	    white;
}


#loading{
	background: linear-gradient(rgb(0,0,0,0.6) , rgb(255,140,0));
	text-align: center;
	color: white;
	position:fixed;
    top:0;
    left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

/*========= Weeks Table =========*/

#biguns-weeks{
	height: 300px;
	overflow: auto;
	margin-bottom: 5px;
}


/*==========================*/

/*========= Layout =========*/

.videos{
	grid-column: 1 / span 2;
	grid-row: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.song-titles{
	grid-column: 1;
	grid-row: 2;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px black;
	background: linear-gradient(orange, black);
}

.biguns-weeks{
	text-align: center;
	grid-column: 2;
	grid-row: 2;
	padding: 0.5em;
	margin-right: auto;
	border: solid 5px black;
	background: linear-gradient(orange, black);
}



#titles {
	padding: 0.5em;
}

#load {
	margin-bottom: 2em;
}

.grid-container {
	display: grid;
}

/*==========================*/
