<!DOCTYPE html>
<html>
<head>
<title>Biguns Countdown!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>--><!--Replaced JQuery with vanilla javascript-->
<script type = "text/javascript"
         src = "{{ url_for('static', filename = 'functions.js') }}" ></script>

</head>
	<body class="gradient">
		<!--Loading gif shows up when making queries-->
		<div id="loading">
			<h1>Loading... Please wait</h1>
			<img src="../static/loading.gif" alt="Loading">
		</div>
		<div class="grid-container">
			<div class="biguns-weeks">
				<div id="biguns-weeks">
					<table id="weeks">
						{%for week in weeks%}
						<tr>
							<td onclick = "new_request(this.parentNode.rowIndex)">{{week}}</td>
						</tr>
						{%endfor%}
					</table>
				</div>
			</div>
			<div class="song-titles">
				<table id="titles">
					{%set size = titles|length%}
					{%for title in titles%}
					<tr>
						<!--Putting titles in reverse I think?-->
						<td>#{{size - loop.index + 1}}&emsp;{{title}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
			<div class="videos">
<!--				<iframe id="playlist" width="720" height="405" src="https://www.youtube.com/embed/{{iframe}}&enablejsapi=1"frameborder="0" allowfullscreen>-->
				<iframe id="playlist"
        			width="640" height="360"
        			src="https://www.youtube.com/embed/{{iframe}}&enablejsapi=1"
        			frameborder="0"
        			allowfullscreen
					style="border: solid 4px #37474F"
				></iframe>
				<script type="text/javascript"
					src = "{{ url_for('static', filename = 'iFrame.js') }}" ></script>
			</div>
		</div>		
	</body>
</html>